<div class="bg-r ed-500 w-[94vw]">
    <app-mobile-nav [title]="title"></app-mobile-nav>
    <div  class="grid grid-rows-2 grid-flow-col text-sm font-semibold px-5 sm:w-full w-screen overflow-x-auto">
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/')">Feature Overview</button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/component')">Component Architecture</button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/reactive')">Reactive Programming</button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/test')">Services & Depency Injection</button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/test')">Angular Testing</button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/test')">Server Side Rendering </button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/forms')">Reactive Forms</button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/test')">State Management</button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/test')">Progressive Web Apps</button>
        <button class="w-fit mx-3 hover:text-red-600 hover:underline " (click)="navigate('features/test')">Directives and Pipes</button>

    </div>
    <router-outlet></router-outlet>
</div>