<nav class="flex justify-between h-[100px] w-full  py-2 border-b shadow-lg px-1 items-center ">
    <div class="h-3/4 flex items-center  ">
    <img src="../favicon.ico" alt="Angula Icon" class="hover:h-[85%] transition-all duration-300 ">    
    </div>
    <ul class="flex justify-evenly w-3/5 ">
    <li class="font-semibold hover:underline hover:text-lg transition-all duration-200">Home</li>
    <li class="font-semibold hover:underline hover:text-lg transition-all duration-200">Dashboard</li>
    <li class="font-semibold hover:underline hover:text-lg transition-all duration-200">Features</li>
    <li class="font-semibold hover:underline hover:text-lg transition-all duration-200">Strengths</li>
    <li class="font-semibold hover:underline hover:text-lg transition-all duration-200">Weaknesses</li>
    <li class="font-semibold hover:underline hover:text-lg transition-all duration-200">Case Studies</li>
    <li class="font-semibold hover:underline hover:text-lg transition-all duration-200">About</li>
    </ul>

</nav>