<div class="font-jakarta font-semibold flex justify-between py-4 sm:text-xl w-screen px-4 sm:py-3 bg-emerald-700">
    <p  class="">Dashboard</p>
    <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button"  class="active:bg-transparent bg-transparent focus:ring-0 flex sm:hidden " id="navtoggle" >
          
          <svg width="24" id="open" class="" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect y="5" width="24" height="2" fill="#D9D9D9"/>
                  <rect x="9" y="12" width="15" height="2" fill="#D9D9D9"/>
                  </svg>
              </button>
</div> 